body {
    text-align: center;
    direction: rtl;
    background-color: beige;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3 {
    color: brown;
}

.menu {
    text-align: center;
}

.link:hover {
    color: chartreuse;
}

.img-container {
display: block;
}

.img-container > img {
    width: 150px;
    height: 150px;
}

.form-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 500px;
    border: 1px solid black;
    margin: auto;
}

.form-container > div {
    padding: 5px;
}

.form-container input, .form-container textarea, .form-container button {
    width: 100%;
    box-sizing: border-box;
    background-color:khaki;
}

.copyrights {
    position: absolute;
    bottom: 20px;
    width: 100%;
}